* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;

  height: 100%;
  padding: 30px;
  background-color: aliceblue;
  color: rgb(49, 43, 68);
}

.input-container {
  width: 600px;

  display: flex;
  justify-content: space-between;
}

#task-input {
  width: 500px;
  border: 2px solid rgb(202, 217, 242);
    outline: none;
    padding: 0 8px;
    border-radius: 4px;
    /* flex-grow: 1; */
}

.list-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

h2 {
  align-self: self-start;
  padding-bottom: 10px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2px;
  font-size: 18px; 
  /* background-color: rgb(178, 178, 241); */
}

button {
  border: 2px solid rgb(202, 217, 242);
  background-color: rgb(231, 244, 255);
  color: rgb(78, 58, 107);
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(228, 237, 246);
  color: rgb(6, 6, 6);
}

.delete-button {
  color: rgb(231, 97, 202);
}
