h1 {
  font-size: 48px;
}

a {
  text-decoration: none;
  color: black;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

main {
  flex: 1;
}
/* =============================== */
.section_about {
  display: flex;
  flex-direction: column;
  padding: 8%;
  background-color: #686364;
  color: rgb(222, 222, 222);
}

.nav_about {
  display: flex;
  justify-content: end;
}

.nav_about a {
  color: white;
}

.nav_about .nav {
  color: white;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.list {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-style: bold;
  padding: 10px 0 15px;
}

ul li:first-child {
  list-style: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}
.main_info {
  display: flex;
  flex-direction: column;
}

.main_pic {
  height: 415px;
  border-radius: 3%;
}

.img_svg {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}

.media_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.media_aside {
  display: flex;
  flex-direction: column;
  font-size: 18px;

  width: 20%;
  gap: 10px;
}

.media_aside_block {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  background-color: #3b3b3b;
}

.media_aside_block div {
  color: rgb(222, 222, 222);
  font-size: 18px;
  text-align: center;
}

.info {
  margin: 20px 0 20px;
  line-height: 1.5;
  align-items: center;
}

.tags {
  margin: 10px 0 10px;
}

.tags a {
  text-decoration: none;
}

.tag {
  display: inline-block;
  background-color: #444;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 5px;
  font-size: 12px;
  text-decoration: none;
}

.tag:hover {
  background-color: #7c7677;
}

.description {
  width: 65%;
}

.add_to_list {
  align-items: center;
  gap: 10px;
  flex-direction: column;
  display: flex;
  width: 30%;
}
.btn_add {
  background-color: #ffd700;
  border: none;
  color: black;
  padding: 1rem 6rem;
  border-radius: 30px;
  font-size: 1rem;
}

.btn_add:hover {
  font-weight: bold;
}
