* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  
  #root { 
    display: flex;  
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(226, 226, 250);
    padding: 70px 40px 40px;
    color: orange;
    font-family: "Courier New", Courier, monospace;
    
  }

  .app-container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: rgb(79, 79, 252);
    width: 700px;
    font-size: 28px;
    font-weight: bold; 
    border-radius: 10px;
  }

  .input-container {
    display: flex;
    gap: 50px;
  }

  input {
    width: 300px;
    height: 40px;
    padding: 10px 6px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
  }

  input::placeholder {
    font-size: 18px;  
  }

  input:focus {
    outline: none; /* Убираем внешнюю рамку */
  }

  button {
    width: 200px;
    height: 40px;
   
    background-color: orange;
    color: darkblue;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: blue;
    color: orange;
   
  }
  
  button:disabled {
    background-color: #7d7d80;
    color: rgb(166, 163, 163);
    cursor: pointer;
  }


  .weather-forecast {
    width: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    /* background-color: orange; */
    color: orange;
    border-radius: 10px;
    font-size: 25px;
  }
  
  .hidden {
    display: none;
  }
  
  .error {
    color: red;
  }
  
  
  